# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Environments
.env
venv/g
ENV/
.env.local
.env.prod

# IDE files
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.venv

# test examples
.output_example/
app/crawling/output/
app/interface/